@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 100% 95.1%;
    --foreground: 210 100% 20%;
    --card: 216 100% 98%;
    --card-foreground: 210 100% 20%;
    --popover: 216 100% 98%;
    --popover-foreground: 210 100% 20%;
    --primary: 210 100% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 90%;
    --secondary-foreground: 210 100% 20%;
    --muted: 210 40% 93%;
    --muted-foreground: 210 20% 45.1%;
    --accent: 30 48% 64%;
    --accent-foreground: 210 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 85%;
    --input: 210 40% 88%;
    --ring: 30 48% 64%;
    --chart-1: 30 48% 64%;
    --chart-2: 210 100% 30%;
    --chart-3: 210 80% 50%;
    --chart-4: 30 60% 75%;
    --chart-5: 210 60% 70%;
    --radius: 0.5rem;
    --sidebar-background: 210 100% 15%;
    --sidebar-foreground: 210 20% 85%;
    --sidebar-primary: 30 48% 64%;
    --sidebar-primary-foreground: 210 100% 10%;
    --sidebar-accent: 210 100% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 210 100% 25%;
    --sidebar-ring: 30 48% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
